body {
    font-family: Arial, sans-serif;
    background-image: url('http://localhost:3000/fundo.png.png');  
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.sobre-nos-container {
    max-width: 1000px;
    margin: 0;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px #007BFF;;
    width: 100%; 
}

h1, h2 {
    color: #007BFF;;
}

h2 {
    margin-top: 20px;
    color: #007BFF;
}

p {
    color: #555;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

ul li img {
    width: 200px; /* Tamanho da imagem */
    height: 200px; /* Tamanho da imagem */
    border-radius: 50%; /* Imagem circular */
    margin-right: 20px;
}

ul li p {
    margin: 0;
}

.menu-button:hover {
    background-color: #0056b3;
}
.team-photo {
    width: 200px; /* Tamanho da imagem */
    height: 200px; /* Tamanho da imagem */
    border-radius: 50%; /* Imagem circular */
    margin-right: 20px;
}